/* overpass-200 - latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/overpass/overpass-v4-latin-200.eot'); /* IE9 Compat Modes */
  src: local('Overpass ExtraLight'), local('Overpass-ExtraLight'),
       url('../fonts/overpass/overpass-v4-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/overpass/overpass-v4-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/overpass/overpass-v4-latin-200.woff') format('woff'), /* Modern Browsers */
       url('../fonts/overpass/overpass-v4-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/overpass/overpass-v4-latin-200.svg#Overpass') format('svg'); /* Legacy iOS */
}
/* overpass-300 - latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/overpass/overpass-v4-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Overpass Light'), local('Overpass-Light'),
       url('../fonts/overpass/overpass-v4-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/overpass/overpass-v4-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/overpass/overpass-v4-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/overpass/overpass-v4-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/overpass/overpass-v4-latin-300.svg#Overpass') format('svg'); /* Legacy iOS */
}
/* overpass-regular - latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/overpass/overpass-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Overpass Regular'), local('Overpass-Regular'),
       url('../fonts/overpass/overpass-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/overpass/overpass-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/overpass/overpass-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/overpass/overpass-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/overpass/overpass-v4-latin-regular.svg#Overpass') format('svg'); /* Legacy iOS */
}

/* pt-sans-narrow-regular - latin */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-narrow/pt-sans-narrow-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Narrow'), local('PTSans-Narrow'),
       url('../fonts/pt-sans-narrow/pt-sans-narrow-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-sans-narrow/pt-sans-narrow-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-narrow/pt-sans-narrow-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pt-sans-narrow/pt-sans-narrow-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-sans-narrow/pt-sans-narrow-v11-latin-regular.svg#PTSansNarrow') format('svg'); /* Legacy iOS */
}
